.block-gadgets {
	margin-bottom: 109px;

	&__body {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -10px;
	}

	&__item {
		background-color: #FCF2F2;
		display: flex;
		align-items: center;
		text-decoration: none;
		padding: 0 0 0 63px;
		flex: 1 0 calc(50% - 20px);
		margin: 0 10px 20px;
		position: relative;
		overflow: hidden;
		height: 240px;
		&:last-child{
			margin-bottom: 0;
		}
	}

	&__img {
		flex: 1 0 50%;
		text-align: right;
		height: 100%;
		display: flex;
		align-items: flex-end;
		img {
			display: block;
			margin-right: 0;
			margin-left: auto;
		}
	}

	&__txt {
		letter-spacing: 0.05em;
		flex: 1 0 auto;
		z-index: 1;
	}

	&__name {
		font-family: $font1;
		font-weight: 900;
		font-size: 14px;
		line-height: 14px;
		text-transform: uppercase;
		color: #302F2F;
	}

	&__link {
		font-family: $font1;
		font-weight: 300;
		font-size: 12px;
		line-height: 14px;
		text-decoration-line: underline;
		text-transform: lowercase;
		color: #000000;
	}

	@include r(767){
		margin-bottom: 35px;
		&__body {
			margin: 0 ;
		}
		&__item {
			max-height: 158px;
			height: auto;
			margin: 0 0 32px;
			padding: 0 0 0 48px;
			flex: 1 0 100%;
		}

		&__name {
			font-size: 12px;
			line-height: 12px;
		}
	}
}