.block-gadgets{
  margin-bottom: 109px;
  &__body{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
  }
  &__item{
    background-color: #FCF2F2;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 92px 63px;
    flex: 1 0 calc(50% - 20px);
    margin: 0 10px 20px;
    position: relative;
    overflow: hidden;
  }
  &__img{
    position: absolute;
    bottom: 0;
    right: 0;
    img{
      display: block;
    }
  }
  &__txt{
    letter-spacing: 0.05em;
    z-index: 1;
  }
  &__name{
    font-family: $font1;
    font-weight: 900;
    font-size: 14px;
    line-height: 14px;
    text-transform: uppercase;
    color: #302F2F;
  }
  &__link{
    font-family: $font1;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    text-decoration-line: underline;
    text-transform: lowercase;
    color: #000000;
  }
}