.header-gadgets {
	text-align: center;
	margin-bottom: 110px;
	background-image: url("../img/header-gadgets-bg.png");
	background-repeat: no-repeat;
	background-position: bottom;
	padding-top: 40px;
	&__logo {
		margin-bottom: 72px;
	}

	@include r(767) {
		margin-bottom: 35px;
	}
}