.header-gadgets {
	margin-bottom: 110px;
	padding-top: 20px;
	display: flex;
	align-items: flex-end;
	&__logo {
		max-width: 98px;
		margin-left: -30px;
		img{
			display: block;
			height: auto;
		}
	}
	.title-gadgets{
		color: #0E4194;
		text-align: left;
		margin-bottom: 10px;
		&:last-child{
			margin-bottom: 5px;
		}
	}

	@include r(767) {
		margin-bottom: 35px;
		&__logo {
			max-width: 63px;
			margin-left: 0;
		}
		.title-gadgets{
			font-size: 10px;
			line-height: 10px;
			margin-bottom: 10px;
			&:last-child{
				margin-bottom: 5px;
			}
		}
	}
}