.slider-gadgets{
	margin-bottom: 124px;
	overflow: hidden;
	&__body{
		padding: 0 174px;

	}
	&__item{
		text-decoration: none;
		display: block;
		max-width: 100%;
		margin: 0 auto 40px;
	}
	&__row{
		display: flex;
		justify-content: space-between;
		gap: 20px;
	}
	&__txt{
	}
	&__img{
		align-self: flex-end;
		img{
			width: 140px;
			height: 140px;
		}
	}
	&__name{
		font-family: $font1;
		font-weight: 900;
		font-size: 14px;
		line-height: 1;
		letter-spacing: 0.05em;
		text-transform: uppercase;
		color: #302F2F;
		margin-bottom: 20px;
	}
	&__anons{
		font-family: $font1;
		font-weight: 300;
		font-size: 14px;
		line-height: 1;
		text-transform: uppercase;
		color: #302F2F;
	}
	&__option{
		flex-direction: column;
		justify-content: space-between;
		display: flex;
		opacity: 0;
		height: 395px;
	}
	&__option-item{
		font-family: $font1;
		font-weight: 300;
		font-size: 14px;
		line-height: 13px;
		color: #565757;
		text-align: right;
		padding: 10px 0;
		position: relative;
		height: 66px;
		&:before{
			content: '';
			position: absolute;
			bottom: 32px;
			left: -28px;
			width: 30px;
			background-color: #777B7C;
			height: 1px;
		}
		&:after{
			content: '';
			position: absolute;
			top: 50%;
			left: 0;
			width: 100%;
			background-color: #777B7C;
			height: 1px;
		}
		&:first-child{
			&:before{
				bottom: 14px;
				left: -43px;
				transform: rotate(-45deg);
				width: 50px;
			}
		}
		&:last-child{
			&:before{
				bottom: 50px;
				left: -43px;
				background-color: #777B7C;
				transform: rotate(45deg);
				width: 50px;
			}
		}
		&:nth-child(2){
			&:before{
				bottom: 27px;
				left: -28px;
				background-color: #777B7C;
				transform: rotate(-20deg);
				width: 30px;
			}
		}
		&:nth-child(4){
			&:before{
				bottom: 37px;
				left: -28px;
				background-color: #777B7C;
				transform: rotate(20deg);
				width: 30px;
			}
		}
		span{
			display: block;
			padding: 5px 0;
			height: 23px;
		}
	}
	&__line{
		background-color: #777B7C;
		height: 1px;
		margin: 0;
		padding: 0;
		border: none;
		position: absolute;
	}
	&__thumb{
		overflow: hidden;
	}
	.slider-gadgets-swiper{
		position: relative;
		margin: 0 auto;
	}
	.swiper-wrapper{
		transition-timing-function: linear;
	}
	.swiper-slide{
		align-self: flex-end;
		background-color: #fff;
		transition: .3s;
		&.swiper-slide-active{
			max-width: 100%;
			padding: 0 50px;
			.slider-gadgets__item{
				margin-bottom: 0;
			}
			.slider-gadgets__option{
				display: flex;
				opacity: 1;
			}
			.slider-gadgets__txt{
				margin-top: 40px;
				margin-left: 50px;
			}
			.slider-gadgets__img{
				height: auto;
				max-width: 346px;
				align-self: center;
				img{
					display: block;
					object-fit: contain;
					height: 100%;
					width: 100%;
				}
			}
		}
	}
	.swiper-slide.swiper-slide-prev {
		transform: translate(522px,0);
	}
	.swiper-button-next:after,
	.swiper-button-prev:after {
		content: "";
		width: 100%;
		height: 100%;
		color: #999;
		background-image: url("../img/slider-arrow.svg");
		background-repeat: no-repeat;
		background-position: center;
		background-size: 19px;
	}
	.swiper-button-next:after {
		transform: rotate(180deg);
	}
	.swiper-button-prev{
		left: 0;
	}
	.swiper-button-next{
		right: 0;
	}


	.slider-gadgets-swiper-thumb{
		display: none;
		.swiper-slide{
			align-self: flex-end;
			max-width: 100%;
			.slider-gadgets__item{
				margin: 0;
			}
			&.swiper-slide-active{
				max-width: 100%;
				padding: 0;
				.slider-gadgets__item{
					margin-bottom: 0;
				}
				.slider-gadgets__txt{
					margin: 0;
				}
				.slider-gadgets__img{
					max-width: 100%;
				}
			}
		}
	}
	@include r(1023){
		margin-bottom: 32px;
		&__body{
			padding: 0;
			overflow: hidden;

		}
		&__option-item{
			font-size: 12px;
		}
		&__img{
			img{
				width: 100%;
				height: auto;
			}
		}
		.swiper-slide{
			align-self: flex-end;
			max-width: 100%;
			&.swiper-slide-active{
				max-width: 100%;
				padding: 0;
				.slider-gadgets__txt{
					margin-left: 0;
				}
				.slider-gadgets__img{
					height: auto;
					max-width: 100%;
					margin-right: 20px;
				}
			}
		}
		.swiper-slide.swiper-slide-prev {
			transform: translate(0,0);
		}
		.swiper-button-prev{
			left: auto;
			right: 70px;
			bottom: 0;
			margin: auto 0 0 0;
			top: auto;
		}
		.swiper-button-next{
			right: 0;
			margin: auto 0 0 0;
			top: auto;
			bottom: 0;
		}
		.slider-gadgets-swiper-thumb{
			display: block;
			margin-top: 40px;
			.slider-gadgets__img{
				margin-bottom: 24px;
				max-width: 88px!important;
			}
			.slider-gadgets__name{
				font-size: 12px;
			}
			.slider-gadgets__anons{
				font-size: 12px;
			}
		}
	}
}