.slider-gadgets{
	margin-bottom: 124px;
	&__body{
		overflow: hidden;
	}
	&__item{
		max-width: 100%;
		margin: 0 auto;
	}
	&__row{
		display: flex;
		justify-content: space-between;
	}
	&__txt{
		margin-left: 50px;
	}
	&__name{
		font-family: $font1;
		font-weight: 900;
		font-size: 14px;
		line-height: 1;
		letter-spacing: 0.05em;
		text-transform: uppercase;
		color: #302F2F;
		margin-bottom: 20px;
	}
	&__anons{
		font-family: $font1;
		font-weight: 300;
		font-size: 14px;
		line-height: 1;
		text-transform: uppercase;
	}
	&__option{
		flex-direction: column;
		justify-content: space-between;
		display: none;
	}
	&__option-item{
		font-family: $font1;
		font-weight: 300;
		font-size: 14px;
		line-height: 13px;
		color: #565757;
		border-bottom: 1px solid #777B7C;
		text-align: center;
		padding: 10px;
	}
	.slider-gadgets-swiper{
		position: relative;
	}
	.swiper-slide{
		transform: scale(.5);

		&.swiper-slide-active{
			max-width: 575px!important;
			width: auto!important;
			transform: scale(1);
			.slider-gadgets__option{
				display: flex;
			}
		}
	}
	.swiper-button-next:after,
	.swiper-button-prev:after {
		content: "";
		width: 100%;
		height: 100%;
		color: #999;
		background-image: url("../img/slider-arrow.svg");
		background-repeat: no-repeat;
		background-position: center;
		background-size: 19px;
	}
	.swiper-button-next:after {
		transform: rotate(180deg);
	}
	.swiper-button-prev{
		left: 178px;
	}
	.swiper-button-next{
		right: 178px;
	}
}