@import "./mixin";
@import "./fonts";

body{
	background-color: #FFFFFF;
}
.main.container{
	max-width: 1076px;
}
.breadcrumb{
	display: none;
}
.footer{
	margin-top: 0;
}
.title-gadgets{
	font-family: $font1;
	font-weight: 900;
	font-size: 18px;
	line-height: 17px;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	color: #302F2F;
	margin: 0 0 37px;
}


@include r(767){
	.title-gadgets{
		font-size: 16px;
		line-height: 15px;
		margin-bottom: 24px;
	}

}

@import "componets/header-gadgets";
@import "componets/slider-gadgets";
@import "componets/block-gadgets";
@import "componets/banner-by";